.tag-head {
    font-style: italic;
    background: linear-gradient(0.5turn, var(--subtle-header1),var(--subtle-header2), var(--subtle-header3));
    -webkit-background-clip: text;
    background-clip : text;
    -webkit-text-fill-color: transparent;
}