@import "../../layout/style/base/setting";
@import "../../layout/style/base/breakpoints";

$top-bar-height: 4.75rem;
$top-bar-responsive: $breakpoint-md;
$top-bar-nav-svg-size: 40px;
$top-bar-logo-size: 60px;
$nav-item-width:200px;

@mixin logo {
  .logo {
    display:flex;
    align-items: stretch;

    >a {
      display:flex;
      align-items: center;

      img {
        transition: all $transition-normal-easein;
        width: $top-bar-logo-size;
        height: $top-bar-logo-size;
      }
    }
  }
}

@mixin top-nav-bar {
  .top-nav-bar {
    flex:1;
    margin: 0 $spacing-large;
    > .nav-list {
      display:flex;
      > li {
        display:flex;
        align-items: stretch;
        justify-content: center;
        height: $top-bar-height;
        flex-basis: $nav-item-width;
        &:hover {
          background: var(--hover-top);
        }

        > a {
          display:flex;
          flex-direction: column;
          justify-content: center;

          > i {
            flex: 1;
            text-align: center;
            padding-top: $spacing-normal;
            transition: all $transition-faster-linear;
          }
        }
      }
    }
  }
}

@mixin theme-toggle {
      
}

.top-bar {
  height: $top-bar-height;
  background: linear-gradient(to right, var(--subtle-top1), var(--subtle-top2));
  margin-bottom: 0;
  z-index: 1000;

  > .container {
    display:flex;
    @include logo();
    @include top-nav-bar();
  }
}
