@import "../../layout/style/base/setting";

.post-short-list {
    li{
        display: flex;
        font-size: $base-relative-font-size * 1.4;
        border-left: $base-border / 3 solid var(--yellow1);
        transition: background-color $transition-faster-easeinout;

        &:hover {
            background-color: var(--bg2);
            p:nth-child(1) {
                border-left: $base-border solid var(--yellow1);
            }

            >a {
                color: var(--pink1);
            }
        }

        p:nth-child(1) {
            flex-basis: 14%;
            padding: 0 $spacing-small;
            
            border-left: $base-border solid transparent;
        }

        >a {
            margin-left: $base-relative-spacing-unit;
            transition: color $transition-faster-easeinout;
            &:hover {
                color: var(--pink2);
            }         
        }
    }
}